<!DOCTYPE html>
<html lang="bn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="https://i.ibb.co/SRx1Wc8/rohan-favicon.png" type="image/png">
</head>
<body>
    <div class="container">
        {{ partial "header.html" . }}
        <main>{{ block "main" . }}{{ end }}</main>
        {{ partial "footer.html" . }}
    </div>

    <a id="back-to-top" href="#" class="back-to-top-button">&#8679;</a>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // হ্যামবার্গার মেনুর জন্য কোড
            const menuToggle = document.getElementById('menu-toggle');
            const navMenu = document.getElementById('nav-menu');
            if (menuToggle && navMenu) {
                menuToggle.addEventListener('click', () => {
                    navMenu.classList.toggle('show');
                });
            }

            // "Back to Top" বাটনের জন্য কোড
            const backToTopButton = document.getElementById('back-to-top');
            if (backToTopButton) {
                window.addEventListener('scroll', () => {
                    if (window.scrollY > 300) {
                        backToTopButton.style.display = 'block';
                    } else {
                        backToTopButton.style.display = 'none';
                    }
                });
                backToTopButton.addEventListener('click', (e) => {
                    e.preventDefault();
                    window.scrollTo({ top: 0, behavior: 'smooth' });
                });
            }
        });
    </script>

</body>
</html>

